@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"],
  input[type="number"], {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: absolute;
    width: 100%;
    opacity: 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 4px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .button {
    @apply flex justify-center items-center gap-2 px-4 py-2.5 rounded-lg bg-emerald-800 font-medium text-sm text-white;
  }

  .input {
    @apply flex items-center gap-4 w-full h-10 px-4 py-2.5 outline-none border border-[#D0D0D0] rounded-lg bg-white text-sm text-black transition duration-[0.2s] ease-[cubic-bezier(.4,0,1,1)] placeholder:text-sm placeholder:text-[#757575] focus:border-[#929292] disabled:border-[#757575] disabled:bg-gray-200 disabled:text-[#757575];
  }
}